.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.container > div {
  display: flex;
  justify-content: center;
  flex: 1 1 50%;
  max-width: calc(50% - 20px);
}
